section.section.swiper-container.swiper-slider.swiper-slider-business.bg-gray-700(
data-loop='true'
data-slide-effect='fade'
data-autoplay='5000'
data-simulate-touch='false'
data-custom-slide-effect='inter-leave-effect'
)
  .swiper-wrapper.context-dark
    .swiper-slide(data-slide-bg='images/slider-business-slide-1-1920x800.jpg'): .slide-inner: .swiper-slide-caption
      .container
        h1.wow-outer: span.wow(data-caption-animate='slideInDown')
          span.big Water
        h2.wow-outer: span.wow(data-caption-animate='slideInDown')
          span.compressed.fown-weight-light for Everyone
        .swiper-caption-text-sm.swiper-caption-wrap
          .swiper-caption-text-inner: p.text-op-gentle.wow(data-caption-animate='slideInLeft') Our company has been the leading supplier of high-quality bottled spring water since 1950.
        .wow-outer.button-outer
          a.button.button-lg.button-primary.button-winona.wow(href='about-us.html' data-caption-animate='slideInUp') Learn more

    .swiper-slide(data-slide-bg='images/slider-business-slide-2-1920x800.jpg'): .slide-inner: .swiper-slide-caption
      .container
        h1.wow-outer: span.wow(data-caption-animate='slideInDown')
          span.big Drink
        h2.wow-outer: span.wow(data-caption-animate='slideInDown')
          span.compressed.fown-weight-light Healthy Water
        .swiper-caption-text-sm.swiper-caption-wrap
          .swiper-caption-text-inner: p.text-op-gentle.wow(data-caption-animate='slideInLeft') We provide spring water that positively influences your health and is safe to drink.
        .wow-outer.button-outer
          a.button.button-lg.button-primary.button-winona.wow(href='about-us.html' data-caption-animate='slideInUp') Learn more



  .swiper-slider-nav.container
    .swiper-button-prev
    .swiper-button-next
