// 3 Column Layout
section.section.section-lg.text-center
	.container
		h3.wow-outer: span.wow.slideInDown 3 Column Layout
		// Owl Carousel
		.owl-carousel.owl-carousel-3-column.wow.fadeIn(
		data-items='1'
		data-md-items='2'
		data-lg-items='3'
		data-dots='true'
		data-nav='false' 
		data-loop='true'
		data-margin='30'
		data-stage-padding='0'
		data-mouse-drag="false")
			blockquote.quote-classic
				.quote-classic-meta
					.quote-classic-avatar: +jpg('testimonials-person-3-96x96')
					.quote-classic-info
						cite.quote-classic-cite Albert Webb
						p.quote-classic-caption Regular Client
				.quote-classic-text
					p Raptus, peritus adelphiss aegre imperium de velox, secundus competition. Hippotoxota de  imperium liberi! Vae, clemens magister! Salvus, fidelis fidess vix gratia de grandis, placidus bursa.

			blockquote.quote-classic
				.quote-classic-meta
					.quote-classic-avatar: +jpg('testimonials-person-1-96x96')
					.quote-classic-info
						cite.quote-classic-cite Kelly McMillan
						p.quote-classic-caption Regular Client
				.quote-classic-text
					p Zeluss nocere in secundus brema! Abnoba teres spatii est. Nunquam talem calceus. Cum pulchritudine camerarius, lotus repressores. Lotus, talis equisos vix transferre de emeritis, domesticus nixus!

			blockquote.quote-classic
				.quote-classic-meta
					.quote-classic-avatar: +jpg('testimonials-person-2-96x96')
					.quote-classic-info
						cite.quote-classic-cite Harold Barnett
						p.quote-classic-caption Regular Client
				.quote-classic-text
					p Sunt adelphises visum salvus, superbus galataees. Zeluss sunt gloss de bassus habena. Est gratis decor, cesaris. Azureus, fidelis abnobas interdum acquirere de raptus, noster fortis.

			blockquote.quote-classic
				.quote-classic-meta
					.quote-classic-avatar: +jpg('testimonials-person-5-96x96')
					.quote-classic-info
						cite.quote-classic-cite Bill Warner
						p.quote-classic-caption Regular Client
				.quote-classic-text
					p Sunt repressores dignus bi-color, fortis particulaes. Sunt navises quaestio germanus, bassus gemnaes. Ignigenas sunt pulchritudines de camerarius calcaria. Albus messor mechanice experientias nuptia est.
