.owl-carousel(
data-items='1'
data-md-items='2'
data-dots='true'
data-nav='false'
data-loop='true'
data-margin='30'
data-stage-padding='0'
data-mouse-drag="false")

	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p I am so grateful for this water delivery to our home! We’ve got our energy back after just a short time and we feel vibrant again! I especially like sparkling water.
		.quote-modern-meta
			.quote-modern-avatar: +jpg('testimonials-person-1-96x96')
			.quote-modern-info
				cite.quote-modern-cite Kelly McMillan
				p.quote-modern-caption Regular Client

	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p I have looked far and wide in Los Angeles County for the purest water, and Water is without a doubt the cleanest, freshest, most vital water available and it is also affordable.
		.quote-modern-meta
			.quote-modern-avatar: +jpg('testimonials-person-2-96x96')
			.quote-modern-info
				cite.quote-modern-cite Harold Barnett
				p.quote-modern-caption Regular Client

	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p I have been drinking your spring water since November and I love it! The water is so delicious and the Water team is so wonderful and helpful.
		.quote-modern-meta
			.quote-modern-avatar: +jpg('testimonials-person-3-96x96')
			.quote-modern-info
				cite.quote-modern-cite Albert Webb
				p.quote-modern-caption Regular Client


	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
			+quote-mark.quote-modern-mark
			.quote-modern-text
				p Could not be happier with this service, the water, and the people involved. I have been using them for almost a year. The water tastes incredible and I like it!
			.quote-modern-meta
				.quote-modern-avatar: +jpg('testimonials-person-4-96x96')
				.quote-modern-info
					cite.quote-modern-cite Samantha Lee
					p.quote-modern-caption Regular Client
